<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <u>overblik over reservede pladser</u>
<img src="server/uploads/Overblik.jpg">

<label for="dates">Choose a date:</label>

<div id="current_date"></div>

<select id="dates" name="dates">
  <option value="Mandag 23-02-2026">Volvo</option>
  <option value="bmw">BMW</option>
  <option value="audi">Audi</option>
</select>

<div>Reservede: 67</div>

<div>Ikke Reservede: 67</div>

<div>Kan Ikke Reservede: 76</div>

</body>
</html>