<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <u>Overblik over reservede pladser</u>

<label for="dates">Choose a date:</label>

<div id="current_date"></div>

<select id="dates" name="dates">
  <option value="23-02-2026">Mandag 23-02-2026</option>
  <option value="23-02-2026">Mandag 23-02-2026</option>
  <option value="23-02-2026">Mandag 23-02-2026</option>
</select>

<p>Total spots: {{ total_spots }}</p>

<p>Spots: {{spots}}</p>

<div>Reserveret: {{spots} - {occupied_spots}}</div>

<div>Ikke Reserveret: {{occupied_spots}}</div>

<div>Kan Ikke Reserveres: 76</div>

</body>
</html>