<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Overblik over reservede pladser</h1>

    <img src="server/uploads/Overblik.jpg" width="500" height="300">

    <label for="dates">Choose a date:</label>

    <div id="current_date"></div>

    <select id="dates" name="dates">
        <option value="23-02-2026">Mandag 23-02-2026</option>
        <option value="23-02-2026">Mandag 23-02-2026</option>
        <option value="23-02-2026">Mandag 23-02-2026</option>
    </select>

    <p>Total spots: {{ total_spots }}</p>

    <div>Reserveret: {{0}}</div>

    <div>Ikke Reserveret: {{total_spots}}</div>

    <div>Kan Ikke Reserveres: {{unavailable_spots}}</div>

    <div>Overblik:</div>
    {{ fig }}

</body>
</html>